@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

video {

}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

.home-container button {
  width: 100%;
  background: gainsboro;
  font-size: 14px;
  padding: 16px;
  border-radius: 8px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
  height: 55px;
  font-weight: bold;
}

.home-container span {
  margin: auto;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  border: none;
  outline: none;
  background: #efefefef;
}

.card-history {
  display: flex;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid lightgray;
  flex-direction: column;
  margin-top: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.card-history h3{
  margin: 5px 0;
}

.card-history span{
  color: gray;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  z-index: 7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 150px;
}

.App {
  padding: 0;
  border: 20px solid #efefefef;
  height: 100vh;
  overflow: hidden;
  max-width: 480px;
  position: relative;
  margin: auto;
}

.btn {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
}

.btn-primary {
  background: #ef4941;
  color: #fff;
}

.btn-secondary {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

@media only screen and (max-width: 480px) {
  header {
    padding: 20px;
    z-index: 999;
  }

  .logo {
    max-width: 100px;
  }
}

.preloader-scan {
  position: fixed;
  left: 0;
  right: 0;
  max-width: 500px;
  display: table;
  margin: 0 auto;
  height: 300px;
  text-align: center;
}

.laser {
  width: 500px;
  height: 300px;
  margin: 0;
  background-color: tomato;
  height: 1px;
  position: absolute;
  top: 0%;
  z-index: 2;
  left: 0;
  box-shadow: 0 0 4px red;
  animation: scanning 3s infinite;
}

.diode {
  animation: beam 0.01s infinite;
}

@keyframes beam {
  50% {
    opacity: 0;
  }
}

@keyframes scanning {
  50% {
    transform: translateY(500px);
  }
}
