.upload {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.upload-wrapper {
  overflow: hidden;
  text-align: center;
  display: grid;
}

.upload-btn {
  cursor: pointer;
}

.upload-btn img {
  max-width: 200px;
}

.image-preview {
  max-height: 550px;
}
